.CatFactApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(19, 51, 64, 55);
}

img {
  max-height: 30em;
  margin: 0em;
  margin-top: 2em;
}
h1 {
  font-size: 70px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  color: #A64E55;
  font-style: oblique;
}

h2 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: #D7D7D9;
    font-style: oblique;
}
h3 {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  color: #D7D7D9;

}

p {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  color: #D7D7D9;
}

.historyNavButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2em;
  margin: 2em;
}

.navButton {
  width: 20em;
  height: 6em;
}

.buttonText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.getButton {
  width: 70em;
  margin: 2em;
}

/*CAT FACT BOXES*/
.catFact {
  padding: 2em;
  width: 56em;
  border-radius: 10px;
  background-color: #F2F2F2;
  margin: 2em;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.feature {
  max-height: 400em;
}

button {
  background-color: #A2A2A3;
  border-radius: 10px;
}

#spacer {
  background-color: #A64E55;
  height: 3em;
  width: 60em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}